In [ ]:
### 1. **Top N per Group**
'''
 **Problem:** You have a table of sales records with columns 
    `product_id`, `salesperson_id`, and `sales_amount`.
Write a SQL query to find the top 3 sales amounts for each `salesperson_id`.

SELECT
         salesperson_id,
         product_id,
         sales_amount
     FROM (
         SELECT
             salesperson_id,
             product_id,
             sales_amount,
             ROW_NUMBER() OVER (PARTITION BY salesperson_id ORDER BY sales_amount DESC) AS rank
         FROM sales
     ) ranked_sales
     WHERE rank <= 3;
'''

In [ ]:
### 2. **Running Total**
'''
   - **Problem:** Given a table 
   transactions
   ============
   `transaction_date`, `customer_id`, and `amount`,
    write a query to calculate the running total of the `amount` for each `customer_id` ordered by `transaction_date`.
   - **Expected Solution:**
     ```sql
     SELECT
         transaction_date,
         customer_id,
         amount,
         SUM(amount) OVER (PARTITION BY customer_id ORDER BY transaction_date) AS running_total
     FROM transactions;
'''

In [1]:
### 3. **Identifying Gaps in Sequences**
'''
   - **Problem:** You have a table `orders` with columns 
   `order_id` (sequential integer), `order_date`, and `customer_id`. 
   Write a SQL query to identify any missing `order_id` values in the sequence.
   
SELECT
         order_id + 1 AS missing_order_id
FROM orders o1
WHERE NOT EXISTS (
         SELECT 1 FROM orders o2 WHERE o2.order_id = o1.order_id + 1
)
AND o1.order_id < (SELECT MAX(order_id) FROM orders);
'''

'\n   - **Problem:** You have a table `orders` with columns \n   `order_id` (sequential integer), `order_date`, and `customer_id`. \n   Write a SQL query to identify any missing `order_id` values in the sequence.\n   \nSELECT\n         order_id + 1 AS missing_order_id\nFROM orders o1\nWHERE NOT EXISTS (\n         SELECT 1 FROM orders o2 WHERE o2.order_id = o1.order_id + 1\n)\nAND o1.order_id < (SELECT MAX(order_id) FROM orders);\n'

In [2]:
### 4. **Finding Duplicates**
'''
   - **Problem:** Given a table `employees` with columns `employee_id`, `name`, `email`, and `hire_date`, write a query to find all 
   employees who have the same `email` but different `employee_id`.
   - **Expected Solution:**

SELECT
         email,
         COUNT(*) AS count
     FROM employees
     GROUP BY email
     HAVING COUNT(*) > 1;
'''

'\n   - **Problem:** Given a table `employees` with columns `employee_id`, `name`, `email`, and `hire_date`, write a query to find all employees who have the same `email` but different `employee_id`.\n   - **Expected Solution:**\n\nSELECT\n         email,\n         COUNT(*) AS count\n     FROM employees\n     GROUP BY email\n     HAVING COUNT(*) > 1;\n'

In [1]:
### 5. **Complex Joins and Aggregation**
'''
- **Problem:** You have two tables: 
   customers (customer_id,name,city) and 
   orders(order_id, `customer_id`, `order_date`, and `amount`). 
   Write a query to find the total order amount for each customer, including customers who have not placed any orders.

SELECT
         c.customer_id,
         c.name,
         COALESCE(SUM(o.amount), 0) AS total_order_amount
     FROM customers c
     LEFT JOIN orders o ON c.customer_id = o.customer_id
     GROUP BY c.customer_id, c.name;

'''

'\n- **Problem:** You have two tables: \n   customers (customer_id,name,city) and \n   orders(order_id, `customer_id`, `order_date`, and `amount`). \n   Write a query to find the total order amount for each customer, including customers who have not placed any orders.\n\nSELECT\n         c.customer_id,\n         c.name,\n         COALESCE(SUM(o.amount), 0) AS total_order_amount\n     FROM customers c\n     LEFT JOIN orders o ON c.customer_id = o.customer_id\n     GROUP BY c.customer_id, c.name;\n\n'

In [ ]:
# Large Problem
'''
Here's a database problem-solving question that could be useful for practice:

### **Problem: Inventory Management System**

You are working with a database that handles inventory for an e-commerce company. The company stores information about its products, suppliers, and stock levels in the following tables:

1. **Products Table**
   - `ProductID`: Unique identifier for each product.
   - `ProductName`: Name of the product.
   - `Category`: Category to which the product belongs.

2. **Suppliers Table**
   - `SupplierID`: Unique identifier for each supplier.
   - `SupplierName`: Name of the supplier.
   - `Country`: Country where the supplier is located.

3. **Stock Table**
   - `ProductID`: Unique identifier for each product (foreign key from Products table).
   - `SupplierID`: Unique identifier for each supplier (foreign key from Suppliers table).
   - `Quantity`: Quantity of the product available in stock.

### **Question:**
You have been asked to provide insights into the current inventory situation. Specifically, you need to write SQL queries to answer the following questions:

1. **Top Suppliers by Stock Quantity:**
   Write a query to find the top 5 suppliers who have supplied the most quantity of products across all categories.

2. **Out-of-Stock Products:**
   Write a query to identify all products that are currently out of stock.

3. **Category-Wise Stock Summary:**
   Write a query to summarize the total stock quantity for each product category.

4. **Suppliers with Low Stock Products:**
   Write a query to identify suppliers who are responsible for products that are low in stock (i.e., quantity less than 10). 

### **Expected Output:**
- **Top Suppliers by Stock Quantity:** A list of supplier names along with the total quantity supplied, ordered by quantity in descending order.
- **Out-of-Stock Products:** A list of product names that have a stock quantity of zero.
- **Category-Wise Stock Summary:** A summary table showing each category and the total stock quantity available for that category.
- **Suppliers with Low Stock Products:** A list of supplier names who have at least one product with stock less than 10, along with the product name and current stock quantity.

### **Example Data:**
- Products Table:
  | ProductID | ProductName | Category  |
  |-----------|-------------|-----------|
  | 1         | Widget A    | Gadgets   |
  | 2         | Widget B    | Gadgets   |
  | 3         | Gadget C    | Gadgets   |
  | 4         | Tool D      | Tools     |
  | 5         | Tool E      | Tools     |

- Suppliers Table:
  | SupplierID | SupplierName | Country  |
  |------------|--------------|----------|
  | 1          | Supplier X   | USA      |
  | 2          | Supplier Y   | China    |
  | 3          | Supplier Z   | India    |

- Stock Table:
  | ProductID | SupplierID | Quantity |
  |-----------|------------|----------|
  | 1         | 1          | 50       |
  | 2         | 2          | 30       |
  | 3         | 3          | 0        |
  | 4         | 1          | 20       |
  | 5         | 2          | 5        |

---

This problem will test your ability to write SQL queries that aggregate data, join tables, and filter results based on specific conditions.
'''