In [ ]:
### 1. **Top N per Group**
'''
 **Problem:** You have a table of sales records with columns 
    `product_id`, `salesperson_id`, and `sales_amount`.
Write a SQL query to find the top 3 sales amounts for each `salesperson_id`.

SELECT
         salesperson_id,
         product_id,
         sales_amount
     FROM (
         SELECT
             salesperson_id,
             product_id,
             sales_amount,
             ROW_NUMBER() OVER (PARTITION BY salesperson_id ORDER BY sales_amount DESC) AS rank
         FROM sales
     ) ranked_sales
     WHERE rank <= 3;
'''

In [ ]:
### 2. **Running Total**
'''
   - **Problem:** Given a table 
   transactions
   ============
   `transaction_date`, `customer_id`, and `amount`,
    write a query to calculate the running total of the `amount` for each `customer_id` ordered by `transaction_date`.
   - **Expected Solution:**
     ```sql
     SELECT
         transaction_date,
         customer_id,
         amount,
         SUM(amount) OVER (PARTITION BY customer_id ORDER BY transaction_date) AS running_total
     FROM transactions;
'''

In [1]:
### 3. **Identifying Gaps in Sequences**
'''
   - **Problem:** You have a table `orders` with columns 
   `order_id` (sequential integer), `order_date`, and `customer_id`. 
   Write a SQL query to identify any missing `order_id` values in the sequence.
   
SELECT
         order_id + 1 AS missing_order_id
FROM orders o1
WHERE NOT EXISTS (
         SELECT 1 FROM orders o2 WHERE o2.order_id = o1.order_id + 1
)
AND o1.order_id < (SELECT MAX(order_id) FROM orders);
'''

'\n   - **Problem:** You have a table `orders` with columns \n   `order_id` (sequential integer), `order_date`, and `customer_id`. \n   Write a SQL query to identify any missing `order_id` values in the sequence.\n   \nSELECT\n         order_id + 1 AS missing_order_id\nFROM orders o1\nWHERE NOT EXISTS (\n         SELECT 1 FROM orders o2 WHERE o2.order_id = o1.order_id + 1\n)\nAND o1.order_id < (SELECT MAX(order_id) FROM orders);\n'

In [2]:
### 4. **Finding Duplicates**
'''
   - **Problem:** Given a table `employees` with columns `employee_id`, `name`, `email`, and `hire_date`, write a query to find all employees who have the same `email` but different `employee_id`.
   - **Expected Solution:**

SELECT
         email,
         COUNT(*) AS count
     FROM employees
     GROUP BY email
     HAVING COUNT(*) > 1;
'''

'\n   - **Problem:** Given a table `employees` with columns `employee_id`, `name`, `email`, and `hire_date`, write a query to find all employees who have the same `email` but different `employee_id`.\n   - **Expected Solution:**\n\nSELECT\n         email,\n         COUNT(*) AS count\n     FROM employees\n     GROUP BY email\n     HAVING COUNT(*) > 1;\n'

In [ ]:
### 5. **Complex Joins and Aggregation**
'''
- **Problem:** You have two tables: 
   `customers` (with columns `customer_id`, `name`, and `city`) and 
   `orders` (with columns `order_id`, `customer_id`, `order_date`, and `amount`). 
   Write a query to find the total order amount for each customer, including customers who have not placed any orders.

SELECT
         c.customer_id,
         c.name,
         COALESCE(SUM(o.amount), 0) AS total_order_amount
     FROM customers c
     LEFT JOIN orders o ON c.customer_id = o.customer_id
     GROUP BY c.customer_id, c.name;

'''