In [ ]:
'''
Select Nth maximum salary from a table
Write a query to select Nth maximum salary from EMP table
(or)
Write a query to find 2nd, 3rd max salary from EMP table
(or)
Write a query to find 10 highest salary
(Or)
Write a query to find 4th highest salary (without analytical function)
Answer:
We can achieve this by using the correlated sub query. In the below example we are getting the 5th
highest salary without using the Analytical function.


select *
from emp emp1
where (5-1) =
(
select count(distinct(emp2.sal))
from emp emp2
where emp2.sal > emp1.sal
)
In the below example we are getting the 5th highest salary by using the Analytical function.
select * from
(
select e.*,
DENSE_RANK() over (order by sal DESC) RN
from emp e
)
where RN=5

'''

In [ ]:
'''
Select top N salaries from EMP table
Write a query to select top N salaries from the EMP table
(or)
Write a query to select maximum N salaries from the EMP table
Answer:
We can achieve this by using the DENSE_RANK Analytical function. In the below example we are
getting the TOP 5 salaries from the EMP table.

select * from
(
select e.*,
DENSE_RANK() over (order by sal DESC) RN
from emp e
)
where RN <=5
'''

In [1]:
'''
Select top N salaries from each Department of EMP table
Write a query to select top N salaries from each department of the EMP table
(or)
Write a query to select maximum N salaries from each department of the EMP table
Answer:
We can achieve this by using the DENSE_RANK Analytical function. In the below example we are
getting the TOP 3 salaries for each department of the EMP table.
select * from
(
select e.*,
DENSE_RANK() over (partition by deptno order by sal DESC) RN
from emp e
)
where RN <=3
'''

'\nSelect top N salaries from each Department of EMP table\nWrite a query to select top N salaries from each department of the EMP table\n(or)\nWrite a query to select maximum N salaries from each department of the EMP table\nAnswer:\nWe can achieve this by using the DENSE_RANK Analytical function. In the below example we are\ngetting the TOP 3 salaries for each department of the EMP table.\nselect * from\n(\nselect e.*,\nDENSE_RANK() over (partition by deptno order by sal DESC) RN\nfrom emp e\n)\nwhere RN <=3\n'

In [2]:
'''
Select/Delete duplicate rows from EMP table
Write a query to select/delete duplicate rows from the EMP table
Answer:
We can achieve this by using the pseudo column ROWID.
select * from emp
where rowid not in
(
select min(rowid)
 from emp
 group by empno
);
delete from emp
where rowid not in
(
select min(rowid)
 from emp
 group by empno
);
'''

'\nSelect/Delete duplicate rows from EMP table\nWrite a query to select/delete duplicate rows from the EMP table\nAnswer:\nWe can achieve this by using the pseudo column ROWID.\nselect * from emp\nwhere rowid not in\n(\nselect min(rowid)\n from emp\n group by empno\n);\ndelete from emp\nwhere rowid not in\n(\nselect min(rowid)\n from emp\n group by empno\n);\n'

In [ ]:
'''
Past 5 years Question.
Write a query to find the employees who are working in the company for the past 5 years.
Answer:
We can achieve this using the ADD_MONTHS function.
select * from emp where hiredate < add_months(sysdate,-60);
'''